body {
  font-family: 'IM Fell DW Pica SC', serif;
  text-transform: uppercase;
  background-color: #86be0e;
  display: flex;
  margin: auto;
}

#root {
  max-width: 73rem;
  border-left: solid;
  border-right: solid;
  border-color: #1fa00e;
  display: flex;
  margin: auto;
}

.navbar {
  background-color: #1fa00e;
  display: flex;
  height: 2rem;
}

nav > a,
nav > div {
  min-width: 5rem;
  display: block;
  text-align: center;
  line-height: 2rem;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  padding: 0 1rem;
  background-color: #1fa00e;
  text-decoration: none;
}

nav > a:hover {
  filter: brightness(1.2);
}
nav > a:last-child {
  margin-left: auto;
}

input {
  font-size: 19px;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
}

.submit-button {
  background-color: #1fa00e;
  color: white;
  margin: auto;
}
