.area-duck {
  /* background-color: blue; */
  margin: auto;
  width: 68%;
  margin-top: 20%;
  margin-left: 10%;
  display: flex;
}

.duck-container {
  background-color: #f1f1f1;
  margin: 11% 3%;
  padding: 5%;
  overflow: auto;
}
