.login-container {
  background-color: #ffe5cc;
}

.login-container > div {
  font-size: x-large;
  padding-top: 1rem;
  text-align: center;
}

#login-form-container {
  min-width: 73rem;
  top: 30vh;
  left: 40vw;
  display: flex;
  padding-top: 11rem;
  justify-content: center;
}

.duck-images {
  margin-top: 12rem;
  display: flex;
}

.duck-images > img {
  width: 14rem;
}
