.main-container {
  display: flex;
  align-content: center;
  background-color: #ffe5cc;
}

.main-container > div {
  margin: 0.5rem;
  justify-content: center;
  height: 47rem;
  overflow: scroll;
}

.ducks-container {
  width: 15rem;
  border: 2px solid #944700;
}

.duck-background {
  background-image: url(../images/theme/wood-background.jpg);
}

.areas-container {
  width: 55rem;
  background-position: center;
}
