/* Split the screen in half */
.split {
  height: 100%;
  position: fixed;
  /* z-index: 1; */
  overflow-x: hidden;
  padding-top: 20px;
  margin: 0.5rem;
}

/* Control the left side */
.left {
  background-image: url("../images/theme/wood-background.jpg");
  /* background-repeat: no-repeat; */
  width: 20%;
  height: 80%;
  left: 0;
}

/* Control the right side */
.right {
  right: 0;
  width: 78%;
}
